<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Імпресаріо артистів</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">



</head>
<body ng-app = "demo">

<div class="container" ng-controller = "ArtistImpresarioCtrl as artistImpresarioCtrl">
    <div class="row">
        <div class="col-md12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="dropdown">
                        <button class="dropbtn">Імпресаріо артистів</button>
                        <div class="dropdown-content">
                            <a href ="title.html">Титульна сторінка</a>
                            <a href="artist.html">Артисти</a>
                            <a href ="artist_genre.html">Жанри артиста</a>
                            <a href ="cinema.html">Кінотеатри</a>
                            <a href ="cinema_movies.html">Фільми</a>
                            <a href ="concert_hall.html">Концертні площадки</a>
                            <a href ="concert_in_hall.html">Концерти</a>
                            <a href ="contest_in_palace.html">Конкурси</a>
                            <a href ="contest_results.html">Результати конкурсів</a>
                            <a href ="culture_palace.html">Палаци культури</a>
                            <a href ="impresario.html">Імпресаріо</a>
                            <a href ="impresario_and_genre.html">Жанри імпресаріо</a>
                            <a href ="organizer.html">Організатори</a>
                            <a href ="theatre.html">Театри</a>
                            <a href ="theatre_performance.html">Виступи</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn" style="margin-left: 0">Запити</button>
                        <div style="min-width: 400px;" class="dropdown-content">
                            <a href="" data-toggle="modal" data-target="#selectByImpresario">Список артистів, що працюють із вказаним імпресаріо</a>
                            <a href="" ng-click="artistImpresarioCtrl.selectByMoreThanOneImpresario()">Список артистів, що працюють більше, ніж з одним імпресаріо</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
            <thead>
            <tr>
                <th>ІД</th>
                <th>Артист</th>
                <th>Імпресаріо</th>
                <th class="headerWidth">

                </th>
            </tr>
            </thead>

            <tbody>

            <tr ng-repeat = "item in artists">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{artistImpresarioCtrl.Names(item.impresarios).toString()}}</td>
                <td>
                    <button type="create" style="width: 40px; font-size: 18px" class="btn-success" data-toggle="modal" data-target="#addModal" ng-click="artistImpresarioCtrl.startAddImpresario(item.id, item.name, item.impresarios)">✚</button></th>
                    <button id="delete" ng-click="artistImpresarioCtrl.startDeleteImpresario(item.id, item.name, item.impresarios)" class="btn-danger" data-toggle="modal" data-target="#deleteModal">❌</button>
                </td>
            </tr>
            </tbody>
        </table>
                </div>
            </div>
        </div>
    </div>

    <div id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Додавання</h4>
                </div>
                <div class="modal-body">
                    <label>Артист: </label>
                    <span id="artistName"></span><br>
                    <label>Імпресаріо:</label><br>
                    <select multiple="multiple" ng-model="selectedImpresarios" id="selectImpresarios" name="selectImpresarios" title="Жанри">
                    </select>
                    <br>
                    <button id="addImpresarioButton" ng-click="artistImpresarioCtrl.addImpresario()">Додати</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="">Закрити</button>
                </div>
            </div>

        </div>
    </div>

    <div id="deleteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Видалення</h4>
                </div>
                <div class="modal-body">
                    <label>Артист: </label>
                    <span id="delArtistName"></span> <br>
                    <select multiple="multiple" ng-model="delSelectedImpresario" id="delSelectImpresario" name="selectImpresario" title="Жанри">
                    </select>

                </div>
                <div class="modal-footer">
                    <button id="deleteImpresariosButton" type="button" class="btn btn-default" ng-click="artistImpresarioCtrl.deleteImpresario()">Видалити</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="artistImpresarioCtrl.onClose()">Закрити</button>
                </div>
            </div>

        </div>
    </div>

    <div id="selectByImpresario" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Вибір імпресаріо</h4>
                </div>
                <div class="modal-body">
                    <select id="selectByImpresarioImpresarios"></select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="credateArtistButton" ng-click="artistImpresarioCtrl.showArtistsByImpresario()" data-dismiss="modal">Вивести</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

</div>



<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/artist_impresario.js"></script>




</body>
</html>