<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кінотеатри</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

</head>
<body ng-app = "demo">
<div class="container" ng-controller = "CinemaCtrl as cinemaCtrl">
<div class="row">
    <div class="col-md12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="dropdown">
                    <button class="dropbtn">Кінотеатри</button>
                    <div class="dropdown-content">
                        <a href ="index.html">Титульна сторінка</a>
                        <a href="artist.html">Артисти</a>
                        <a href ="artist_genre.html">Жанри артиста</a>
                        <a href ="artist_and_impresario.html">Імпресаріо артистів</a>
                        <a href ="cinema_movies.html">Фільми</a>
                        <a href ="concert_hall.html">Концертні площадки</a>
                        <a href ="concert_in_hall.html">Концерти</a>
                        <a href ="contest_in_palace.html">Конкурси</a>
                        <a href ="contest_results.html">Результати конкурсів</a>
                        <a href ="culture_palace.html">Палаци культури</a>
                        <a href ="impresario.html">Імпресаріо</a>
                        <a href ="impresario_and_genre.html">Жанри імпресаріо</a>
                        <a href ="organizer.html">Організатори</a>
                        <a href ="theatre.html">Театри</a>
                        <a href ="theatre_performance.html">Виступи</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn" style="margin-left: 0">Запити</button>
                    <div style="min-width: 400px;" class="dropdown-content">
                        <a href="" data-toggle="modal" data-target="#selectByScreenSize">Список кінотеатрів за розміром екрану (більше або дорівнює вказаному)</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
            <thead>
                <tr>
                    <th>&#128273ІД</th>
                    <th>Назва</th>
                    <th>Адреса</th>
                    <th>Розмір екрану</th>
                    <th class="headerWidth"><button type="button" class="btn-success" data-toggle="modal" data-target="#addModal">✚</button></th>
                </tr>
            </thead>

            <tbody>

            <tr ng-repeat = "item in cinemas">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.address}}</td>
                <td>{{item.screenSize}}</td>
                <td>
                    <button id="update" ng-click="cinemaCtrl.startUpdateCinema(item.id, item.name, item.address, item.screenSize)" class="btn-warning" data-toggle="modal" data-target="#editModal"><span style="font-size: 18px">✏</span></button>
                    <button id="delete" ng-click="cinemaCtrl.deleteCinema(item.id)" class="btn-danger">❌</button>
                </td>
            </tr>
            </tbody>
        </table>
            </div>
        </div>
    </div>
</div>

    <!-- Додавання  -->
    <div id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Додавання</h4>
                </div>
                <div class="modal-body">
                    <input class="data" type="text" id="CinemaName" name="CinemaName" placeholder="Назва" title="Назва"/> <br>
                    <span class="error" style="color: #c00000; text-align: left; font-size: 14px" id="wrongName"></span><br>
                    <input class="data" type="text" id="CinemaAddress" name="CinemaAddress" placeholder="Адреса" title="Адреса" /> <br>
                    <span class="error" style="color: #c00000; text-align: left; font-size: 14px" id="wrongAddress"></span><br>
                    <input class="data" type="number" min="1" id="CinemaScreenSize" name="CinemaScreenSize" placeholder="Розмір екрану" title="Розмір екрану" /> <br>
                    <span class="error" style="color: #c00000; text-align: left; font-size: 14px" id="wrongSize"></span><br>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="createCinemaButton" ng-click="cinemaCtrl.createCinema()">Створити</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Редагування  -->
    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Редагування</h4>
                </div>
                <div class="modal-body">
                    <input class="data" type="text" id="updateCinemaName" name="CinemaName" placeholder="Назва" title="Назва"/> <br>
                    <span class="error" style="color: #c00000; text-align: left; font-size: 14px" id="editWrongName"></span><br>
                    <input class="data" type="text" id="updateCinemaAddress" name="CinemaAddress" placeholder="Адреса" title="Адреса" /> <br>
                    <span class="error" style="color: #c00000; text-align: left; font-size: 14px" id="editWrongAddress"></span><br>
                    <input class="data" type="number" min="1" id="updateCinemaScreenSize" name="CinemaScreenSize" placeholder="Розмір екрану" title="Розмір екрану" /> <br>
                    <span class="error" style="color: #c00000; text-align: left; font-size: 14px" id="editWrongSize"></span><br>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="editCinemaButton" ng-click="cinemaCtrl.updateCinema()">Змінити</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

    <div id="selectByScreenSize" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Вибір розміру екрану</h4>
                </div>
                <div class="modal-body">
                    <input type="number" id="screenSize"/>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="selectByScreenSizeBtn" ng-click="cinemaCtrl.selectByScreenSize()" data-dismiss="modal">Вивести</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>
        </div>
    </div>

</div>



<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/cinema.js"></script>
<script type="text/javascript" src="js/onclose.js"></script>



</body>
</html>