<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Конкурси</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">


</head>
<body ng-app = "demo">

<div class="container" ng-controller = "ContestInPalaceCtrl as contestInPalaceCtrl">
    <div class="row">
        <div class="col-md12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="dropdown">
                        <button class="dropbtn">Конкурси</button>
                        <div class="dropdown-content">
                            <a href ="title.html">Титульна сторінка</a>
                            <a href="artist.html">Артисти</a>
                            <a href ="artist_genre.html">Жанри артиста</a>
                            <a href ="artist_and_impresario.html">Імпресаріо артистів</a>
                            <a href ="cinema.html">Кінотеатри</a>
                            <a href ="cinema_movies.html">Фільми</a>
                            <a href ="concert_hall.html">Концертні площадки</a>
                            <a href ="concert_in_hall.html">Концерти</a>
                            <a href ="contest_results.html">Результати конкурсів</a>
                            <a href ="culture_palace.html">Палаци культури</a>
                            <a href ="impresario.html">Імпресаріо</a>
                            <a href ="impresario_and_genre.html">Жанри імпресаріо</a>
                            <a href ="organizer.html">Організатори</a>
                            <a href ="theatre.html">Театри</a>
                            <a href ="theatre_performance.html">Виступи</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn" style="margin-left: 0">Запити</button>
                        <div style="min-width: 400px;" class="dropdown-content">
                            <a href="" data-toggle="modal" data-target="#selectByDateGeneral">Список заходів, проведених протягом вказаного періоду (загалом)</a>
                            <a href="" data-toggle="modal" data-target="#selectByDateOrganizer">Список заходів, проведених протягом вказаного періоду (організатором)</a>
                            <a href="" data-toggle="modal" data-target="#selectByPalace">Список заходів, проведених у вказаній культурній споруді (палаці)</a>
                            <a href="query.html">Запит 3</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <table class="table table-striped">
            <thead>
            <tr>
                <th>&#128273ІД</th>
                <th>Назва</th>
                <th>Концертна площадка</th>
                <th>Організатор</th>
                <th>Дата</th>
                <th class="headerWidth"><button type="button" class="btn-success" data-toggle="modal" data-target="#addModal"
                                         ng-click="contestInPalaceCtrl.startCreateContestInPalace()">✚</button></th>
            </tr>
            </thead>

            <tbody>

            <tr ng-repeat = "item in contestInPalaces">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.culturePalace.name}}</td>
                <td>{{item.organizer.name}}</td>
                <td>{{item.date}}</td>
                <td>
                    <button id="update" ng-click="contestInPalaceCtrl.startUpdateContestInPalace(item.id, item.name, item.culturePalace.id, item.organizer.id, item.date)" class="btn-warning" data-toggle="modal" data-target="#editModal"><span style="font-size: 18px">✏</span></button>
                    <button id="delete" ng-click="contestInPalaceCtrl.deleteContestInPalace(item.id)" class="btn-danger">❌</button>
                </td>
            </tr>
            </tbody>
        </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Додавання артиста -->
    <div id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Додавання</h4>
                </div>
                <div class="modal-body">
                    <label>Назва: </label>
                    <input type="text" id="ContestInPalaceName" name="ContestInPalaceName" /> <br>
                    <label>Культурний палац: </label> <br>
                    <select id="ContestInPalaceCulturePalace" name="updateContestInPalaceCulturePalace" >

                    </select> <br>
                    <label>Організатор: </label> <br>
                    <select id="ContestInPalaceOrganizer" name="updateContestInPalaceOrganizer" ></select> <br>
                    <label>Дата: </label>
                    <input type="date" name ="updateDate" id="datePicker"/> <br>
                    <button id="createContestInPalaceButton" ng-click="contestInPalaceCtrl.createContestInPalace()">Створити</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Редагування артиста -->
    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Редагування</h4>
                </div>
                <div class="modal-body">
                    <label>Назва: </label>
                    <input type="text" id="updateContestInPalaceName" name="updateContestInPalaceName" /> <br>
                    <label>Концертна площадка: </label> <br>
                    <select id="updateContestInPalaceCulturePalace" name="updateContestInPalaceCulturePalace" >

                    </select> <br>
                    <label>Організатор: </label> <br>
                    <select id="updateContestInPalaceOrganizer" name="updateContestInPalaceOrganizer" ></select> <br>
                    <label>Дата: </label>
                    <input type="date" name ="updateDate" id="updateDatePicker"/> <br>
                    <button id="updateContestInPalaceButton" ng-click="contestInPalaceCtrl.updateContestInPalace()">Змінити</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

    <div id="selectByDateGeneral" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Вибір дати</h4>
                </div>
                <div class="modal-body">
                    <label>Від:<br><input type="date" name ="Перша дата" id="firstDate"/> </label><br>
                    <label>До: <br><input type="date" name ="Друга дата" id="secondDate"/> </label><br>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="showConcertsByDate" ng-click="contestInPalaceCtrl.showConcertsByDate()" data-dismiss="modal">Вивести</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

    <div id="selectByDateOrganizer" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Вибір дати і організатора</h4>
                </div>
                <div class="modal-body">
                    <label>Від:<br><input type="date" name ="Перша дата" id="orgFirstDate"/> </label><br>
                    <label>До: <br><input type="date" name ="Друга дата" id="orgSecondDate"/> </label><br>
                    <label>Організатор:</label><br>
                    <select id="selectOrg"></select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="showConcertsByDateOrganizer" ng-click="contestInPalaceCtrl.showConcertsByDateOrganizer()" data-dismiss="modal">Вивести</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

    <div id="selectByPalace" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Вибір споруди (палацу)</h4>
                </div>
                <div class="modal-body">
                    <select id="selectPalaceRequest"></select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="showContestByPalace" ng-click="contestInPalaceCtrl.showContestByPalace()" data-dismiss="modal">Вивести</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/contest_in_palace.js"></script>

</body>
</html>