<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Жанри імпресаріо</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">



</head>
<body ng-app = "demo">

<div class="container" ng-controller = "ImpresarioGenreCtrl as impresarioGenreCtrl">
    <div class="row">
        <div class="col-md12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="dropdown">
                        <button class="dropbtn">Жанри імпресаріо</button>
                        <div class="dropdown-content">
                            <a href ="title.html">Титульна сторінка</a>
                            <a href="artist.html">Артисти</a>
                            <a href ="artist_genre.html">Жанри артиста</a>
                            <a href ="artist_and_impresario.html">Імпресаріо артистів</a>
                            <a href ="cinema.html">Кінотеатри</a>
                            <a href ="cinema_movies.html">Фільми</a>
                            <a href ="concert_hall.html">Концертні площадки</a>
                            <a href ="concert_in_hall.html">Концерти</a>
                            <a href ="contest_in_palace.html">Конкурси</a>
                            <a href ="contest_results.html">Результати конкурсів</a>
                            <a href ="culture_palace.html">Палаци культури</a>
                            <a href ="impresario.html">Імпресаріо</a>
                            <a href ="organizer.html">Організатори</a>
                            <a href ="theatre.html">Театри</a>
                            <a href ="theatre_performance.html">Виступи</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn" style="margin-left: 0">Запити</button>
                        <div style="min-width: 400px;" class="dropdown-content">
                            <a href="" data-toggle="modal" data-target="#selectByGenre">Список імпресаріо за вказаним жанром</a>
                            <a href="" ng-click="impresarioGenreCtrl.selectMoreThanOneGenre()">Список імпресаріо, що працюють більше, ніж в одному жанрі</a>
                            <a href="" ng-click="impresarioGenreCtrl.selectNullGenres()">Список імпресаріо, які не працюють в жодному жанрі</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
            <thead>
            <tr>
                <th>ІД</th>
                <th>Імпресаріо</th>
                <th>Жанр</th>
                <th class="headerWidth">

                </th>
            </tr>
            </thead>

            <tbody>

            <tr ng-repeat = "item in impresarios">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.genreSet.toString()}}</td>
                <td>
                    <button type="create" style="width: 40px; font-size: 18px" class="btn-success" data-toggle="modal" data-target="#addModal" ng-click="impresarioGenreCtrl.startAddGenre(item.id, item.name, item.genreSet)">✚</button>
                    <button id="delete" ng-click="impresarioGenreCtrl.startDeleteGenre(item.id, item.name, item.genreSet)" class="btn-danger" data-toggle="modal" data-target="#deleteModal">❌</button>
                </td>
            </tr>
            </tbody>
        </table>
                </div>
            </div>
        </div>
    </div>

    <div id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Додавання</h4>
                </div>
                <div class="modal-body">
                    <label>Імпресаріо: </label>
                    <span id="impresarioName"></span><br>
                    <label>Жанри для додавання:</label><br>
                    <select multiple ng-model="selectedGenres" id="selectGenres" name="selectGenres" title="Жанри">
                        <option>Комедія</option>
                        <option>Драма</option>
                        <option>Мелодрама</option>
                        <option>Мюзикл</option>
                        <option>Пародія</option>
                        <option>Фантастика</option>
                        <option>Боєвик</option>
                        <option>Фентезі</option>
                        <option>Тріллер</option>
                        <option>Детектив</option>
                        <option>Симфонія</option>
                        <option>Соната</option>
                        <option>Тріо</option>
                        <option>Ораторія</option>
                        <option>Квартет</option>
                        <option>Натюрморт</option>
                        <option>Портрет</option>
                        <option>Пейзаж</option>
                        <option>Скульптура</option>
                        <option>Різьблення</option>
                    </select>
                    <br>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="addGenreButton" ng-click="impresarioGenreCtrl.addGenre()">Додати</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="">Закрити</button>
                </div>
            </div>

        </div>
    </div>

    <div id="deleteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Видалення</h4>
                </div>
                <div class="modal-body">
                    <label>Імпресаріо: </label>
                    <span id="delImpresarioName"></span> <br>
                    <select multiple="multiple" ng-model="delSelectedGenre" id="delSelectGenre" name="selectGenre" title="Жанри">
                    </select>

                </div>
                <div class="modal-footer">
                    <button id="deleteGenresButton" type="button" class="btn btn-default" ng-click="impresarioGenreCtrl.deleteGenre()">Видалити</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="impresarioGenreCtrl.onClose()">Закрити</button>
                </div>
            </div>

        </div>
    </div>

    <div id="selectByGenre" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Вибір жанру</h4>
                </div>
                <div class="modal-body">
                    <select id="genres" name="Жанри">
                        <option>Комедія</option>
                        <option>Драма</option>
                        <option>Мелодрама</option>
                        <option>Мюзикл</option>
                        <option>Пародія</option>
                        <option>Фантастика</option>
                        <option>Боєвик</option>
                        <option>Фентезі</option>
                        <option>Тріллер</option>
                        <option>Детектив</option>
                        <option>Симфонія</option>
                        <option>Соната</option>
                        <option>Тріо</option>
                        <option>Ораторія</option>
                        <option>Квартет</option>
                        <option>Натюрморт</option>
                        <option>Портрет</option>
                        <option>Пейзаж</option>
                        <option>Скульптура</option>
                        <option>Різьблення</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="showArtistsByGenre" ng-click="impresarioGenreCtrl.showImpresarioByGenre()" data-dismiss="modal">Вивести</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

</div>



<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/impresario_genre.js"></script>




</body>
</html>