<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Виступи</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

</head>
<body ng-app = "demo">

<div class="container" ng-controller = "TheatrePerformanceCtrl as theatrePerformanceCtrl">
    <div class="row">
        <div class="col-md12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="dropdown">
                        <button class="dropbtn">Виступи</button>
                        <div class="dropdown-content">
                            <a href ="index.html">Титульна сторінка</a>
                            <a href="artist.html">Артисти</a>
                            <a href ="artist_genre.html">Жанри артиста</a>
                            <a href ="artist_and_impresario.html">Імпресаріо артистів</a>
                            <a href ="cinema.html">Кінотеатри</a>
                            <a href ="cinema_movies.html">Фільми</a>
                            <a href ="concert_hall.html">Концертні площадки</a>
                            <a href ="concert_in_hall.html">Концерти</a>
                            <a href ="contest_in_palace.html">Конкурси</a>
                            <a href ="contest_results.html">Результати конкурсів</a>
                            <a href ="culture_palace.html">Палаци культури</a>
                            <a href ="impresario.html">Імпресаріо</a>
                            <a href ="impresario_and_genre.html">Жанри імпресаріо</a>
                            <a href ="organizer.html">Організатори</a>
                            <a href ="theatre.html">Театри</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn" style="margin-left: 0">Запити</button>
                        <div style="min-width: 400px;" class="dropdown-content">
                            <a href="" data-toggle="modal" data-target="#selectByDateGeneral">Список заходів, проведених протягом вказаного періоду (загалом)</a>
                            <a href="" data-toggle="modal" data-target="#selectByDateOrganizer">Список заходів, проведених протягом вказаного періоду (організатором)</a>
                            <a href="" data-toggle="modal" data-target="#selectByTheatre">Список заходів, проведених у вказаному театрі</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <table class="table table-striped">
            <thead>
            <tr>
                <th>&#128273ІД</th>
                <th>Назва</th>
                <th>Театр</th>
                <th>Організатор</th>
                <th>Дата</th>
                <th class="headerWidth"><button type="button" class="btn-success" data-toggle="modal" data-target="#addModal"
                                         ng-click="theatrePerformanceCtrl.startCreateTheatrePerformance()">✚</button></th>
            </tr>
            </thead>

            <tbody>

            <tr ng-repeat = "item in theatrePerformances">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.theatre.name}}</td>
                <td>{{item.organizer.name}}</td>
                <td>{{item.date}}</td>
                <td>
                    <button id="update" ng-click="theatrePerformanceCtrl.startUpdateTheatrePerformance(item.id, item.name, item.theatre.id, item.organizer.id, item.date)" class="btn-warning" data-toggle="modal" data-target="#editModal"><span style="font-size: 18px">✏</span></button>
                    <button id="delete" ng-click="theatrePerformanceCtrl.deleteTheatrePerformance(item.id)" class="btn-danger">❌</button>
                </td>
            </tr>
            </tbody>
        </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Додавання  -->
    <div id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Додавання</h4>
                </div>
                <div class="modal-body">
                    <input class="data" type="text" id="TheatrePerformanceName" name="TheatrePerformanceName" placeholder="Назва" title="Назва"/> <br>
                    <span class="error" style="color: #c00000; text-align: left; font-size: 14px;" id="wrongName"></span><br>
                    <select class="data" id="TheatrePerformanceTheatre" name="TheatrePerformanceTheatre" title="Театр"></select> <br><br>
                    <select class="data" id="TheatrePerformanceOrganizer" name="TheatrePerformanceOrganizer" title="Організатор"></select> <br><br>
                    <input class="data" type="date" name ="date" id="datePicker" title="Дата"/> <br>
                    <span class="error cinemamovie" style="color: #c00000; text-align: left; font-size: 14px;" id="wrongDate"></span><br>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="createTheatrePerformanceButton" ng-click="theatrePerformanceCtrl.createTheatrePerformance()">Створити</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Редагування  -->
    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Редагування</h4>
                </div>
                <div class="modal-body">

                    <input class="data" type="text" id="updateTheatrePerformanceName" name="TheatrePerformanceName" placeholder="Назва" title="Назва"/> <br>
                    <span class="error" style="color: #c00000; text-align: left; font-size: 14px;" id="editWrongName"></span><br>
                    <select class="data" id="updateTheatrePerformanceTheatre" name="TheatrePerformanceTheatre" title="Театр"></select> <br><br>
                    <select class="data" id="updateTheatrePerformanceOrganizer" name="TheatrePerformanceOrganizer" title="Організатор"></select> <br><br>
                    <input class="data" type="date" name ="date" id="updateDatePicker" title="Дата"/> <br>
                    <span class="error cinemamovie" style="color: #c00000; text-align: left; font-size: 14px;" id="editWrongDate"></span><br>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="updateTheatrePerformanceButton" ng-click="theatrePerformanceCtrl.updateTheatrePerformance()">Змінити</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

    <div id="selectByDateGeneral" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Вибір дати</h4>
                </div>
                <div class="modal-body">
                    <label>Від:<br><input type="date" name ="Перша дата" id="firstDate"/> </label><br>
                    <label>До: <br><input type="date" name ="Друга дата" id="secondDate"/> </label><br>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="showConcertsByDate" ng-click="theatrePerformanceCtrl.showConcertsByDate()" data-dismiss="modal">Вивести</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

    <div id="selectByDateOrganizer" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Вибір дати і організатора</h4>
                </div>
                <div class="modal-body">
                    <label>Від:<br><input type="date" name ="Перша дата" id="orgFirstDate"/> </label><br>
                    <label>До: <br><input type="date" name ="Друга дата" id="orgSecondDate"/> </label><br>
                    <label>Організатор:</label><br>
                    <select id="selectOrg"></select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="showConcertsByDateOrganizer" ng-click="theatrePerformanceCtrl.showConcertsByDateOrganizer()" data-dismiss="modal">Вивести</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

    <div id="selectByTheatre" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Вибір театру</h4>
                </div>
                <div class="modal-body">
                    <select id="selectTheatreRequest"></select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="showPerformanceByTheatre" ng-click="theatrePerformanceCtrl.showPerformanceByTheatre()" data-dismiss="modal">Вивести</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/theatre_performance.js"></script>
<script type="text/javascript" src="js/onclose.js"></script>

</body>
</html>