<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Театри</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

</head>
<body ng-app = "demo">

<div class="container" ng-controller = "TheatreCtrl as theatreCtrl">
    <div class="row">
        <div class="col-md12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="dropdown">
                        <button class="dropbtn">Театри</button>
                        <div class="dropdown-content">
                            <a href ="title.html">Титульна сторінка</a>
                            <a href="artist.html">Артисти</a>
                            <a href ="artist_genre.html">Жанри артиста</a>
                            <a href ="artist_and_impresario.html">Імпресаріо артистів</a>
                            <a href ="cinema.html">Кінотеатри</a>
                            <a href ="cinema_movies.html">Фільми</a>
                            <a href ="concert_hall.html">Концертні площадки</a>
                            <a href ="concert_in_hall.html">Концерти</a>
                            <a href ="contest_in_palace.html">Конкурси</a>
                            <a href ="contest_results.html">Результати конкурсів</a>
                            <a href ="culture_palace.html">Палаци культури</a>
                            <a href ="impresario.html">Імпресаріо</a>
                            <a href ="impresario_and_genre.html">Жанри імпресаріо</a>
                            <a href ="organizer.html">Організатори</a>
                            <a href ="theatre_performance.html">Виступи</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn" style="margin-left: 0">Запити</button>
                        <div style="min-width: 400px;" class="dropdown-content">
                            <a href="" data-toggle="modal" data-target="#selectByCapacity">Список театрів із вказаною місткістю (більше або дорівнює)</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
            <thead>
                <tr>
                    <th>&#128273ІД</th>
                    <th>Назва</th>
                    <th>Адреса</th>
                    <th>Місткість</th>
                    <th class="headerWidth"><button type="button" class="btn-success" data-toggle="modal" data-target="#addModal">✚</button></th>
                </tr>
            </thead>

            <tbody>

            <tr ng-repeat = "item in theatres">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.address}}</td>
                <td>{{item.capacity}}</td>
                <td>
                    <button id="update" ng-click="theatreCtrl.startUpdateTheatre(item.id, item.name, item.address, item.capacity)" class="btn-warning" data-toggle="modal" data-target="#editModal"><span style="font-size: 18px">✏</span></button>
                    <button id="delete" ng-click="theatreCtrl.deleteTheatre(item.id)" class="btn-danger">❌</button>
                </td>
            </tr>
            </tbody>
        </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Додавання артиста -->
    <div id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Додавання</h4>
                </div>
                <div class="modal-body">
                    <label>Назва:</label>
                    <input type="text" id="TheatreName" name="TheatreName" /> <br>
                    <label>Адреса:</label>
                    <input type="text" id="TheatreAddress" name="TheatreAddress" /> <br>
                    <label>Місткість:</label>
                    <input type="text" id="TheatreCapacity" name="TheatreCapacity" /> <br>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="createTheatreButton" ng-click="theatreCtrl.createTheatre()">Створити</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Редагування артиста -->
    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Редагування</h4>
                </div>
                <div class="modal-body">
                    <label>Назва:</label>
                    <input type="text" id="updateTheatreName" name="updateTheatreName" /> <br>
                    <label>Адреса:</label>
                    <input type="text" id="updateTheatreAddress" name="updateTheatreAddress" /> <br>
                    <label>Місткість:</label>
                    <input type="text" id="updateTheatreCapacity" name="updateTheatreCapacity" /> <br>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="editTheatreButton" ng-click="theatreCtrl.updateTheatre()">Змінити</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

    <div id="selectByCapacity" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Вибір місткості</h4>
                </div>
                <div class="modal-body">
                    <input type="number" id="capacity"/>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="showByCapacity" ng-click="theatreCtrl.showByCapacity()" data-dismiss="modal">Вивести</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/theatre.js"></script>

</body>
</html>